<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings><add name="SohatsContext" connectionString="metadata=res://*/Database.SOHATSModel.csdl|res://*/Database.SOHATSModel.ssdl|res://*/Database.SOHATSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QEHT3O7;initial catalog=SOHATS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>